@font-face {
    font-family: "MOD";
    font-style: normal;
    font-weight: normal;
    src: local("â˜º"), url("../fonts/mod-webfont.woff") format("woff"), url("../fonts/mod-webfont.ttf") format("truetype"), url("../fonts/mod-webfont.svg#webfontp2bXIvvD") format("svg");
}
@font-face {
    font-family: "Hero";
    font-style: normal;
    font-weight: normal;
    src: local("â˜º"), url("../fonts/hero-webfont.woff") format("woff"), url("../fonts/hero-webfont.ttf") format("truetype"), url("../fonts/hero-webfont.svg#webfontecycPgIx") format("svg");
}
@font-face {
    font-family: "Hero Light";
    font-style: normal;
    font-weight: normal;
    src: local("â˜º"), url("../fonts/hero_light-webfont.woff") format("woff"), url("../fonts/hero_light-webfont.ttf") format("truetype"), url("../fonts/hero_light-webfont.svg#webfontnHVzXbDa") format("svg");
}
body {
    background: none repeat scroll 0 0 #38B2CE;
    color: #222233;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 920px;
}
.header {
    height: 320px;
    position: relative;
    width: 100%;
}
.date {
    float: left;
    font-family: 'Hero','Helvetica Neue',Arial,sans-serif;
    font-size: 32px;
    letter-spacing: 0.05em;
    line-height: 1.6em;
    margin-right: auto;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 430px;
}
.day-of-week {
    color: #38B2CE;
    display: block;
    font-family: 'MOD','Helvetica Neue',Arial,sans-serif;
    font-size: 64px;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 2px 0 #222233, 2px 2px #222233, 0 2px #222233, -2px 2px #222233, -2px 0 #222233, -2px -2px #222233, 0 -2px #222233, 2px -2px #222233;
    text-transform: uppercase;
    width: 100%;
}
.day {
    background: none repeat scroll 0 0 #222233;
    border-radius: 0.6em 0.6em 0.6em 0.6em;
    color: #38B2CE;
    display: block;
    font-family: 'Hero Light','Helvetica Neue',Arial,sans-serif;
    font-size: 64px;
    line-height: 1.2em;
    text-transform: uppercase;
}
.day i {
    font-family: 'MOD','Helvetica Neue',Arial,sans-serif;
}
.year {
    display: block;
    font-family: 'Hero','Helvetica Neue',Arial,sans-serif;
    font-size: 22px;
    letter-spacing: 0.5em;
    line-height: 1.2em;
    text-transform: uppercase;
    word-spacing: 0.18em;
}
.time {
    background: none repeat scroll 0 0 #222233;
    border-radius: 0 0.7em 0 0.7em;
    color: #222233;
    display: block;
    font-family: 'MOD','Helvetica Neue',Arial,sans-serif;
    font-size: 38px;
    letter-spacing: 1.5px;
    line-height: 1.4em;
    text-align: center;
    text-shadow: 2px 0 #38B2CE, 2px 2px #38B2CE, 0 2px #38B2CE, -2px 2px #38B2CE, -2px 0 #38B2CE, -2px -2px #38B2CE, 0 -2px #38B2CE, 2px -2px #38B2CE;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    word-spacing: 0.3em;
}
.location {
    float: right;
    width: 430px;
}
.street {
    display: block;
}
.city {
    display: block;
}
#play {
    background-color: rgba(255, 255, 255, 0.15);
    background-image: url("../img/play.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 6em 6em 6em 6em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3), 0 0 8px rgba(0, 0, 0, 0.2) inset;
    cursor: pointer;
    display: block;
    height: 50px;
    margin-bottom: 90px;
    width: 100%;
}
#play:active {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset;
}
h1 {
    font-family: 'MOD','Helvetica Neue',Arial,sans-serif;
    font-size: 66px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
#counter {
    font-family: 'Hero Light','Helvetica Neue',Arial,sans-serif;
    font-size: 72px;
    text-align: center;
    margin-bottom: 90px;
}
#map {
    height: 208px;
    width: 430px;
}
footer {
    margin-left: auto;
    margin-right: auto;
    width: 140px;
}

footer img {
    width: 64px;
}
